\documentclass[a4paper]{article}

\usepackage[german]{babel}
\usepackage[utf8]{inputenc}
\usepackage{graphicx}

\addtolength{\leftmargin}{8mm}
%% 8mm gutter on the left and the right
\addtolength{\paperwidth}{-16mm}

\usepackage{labels}
%%\LabelGridtrue
%%\numberoflabels 2
%% some justifaction to meet the requirements of 
%% Zweckform 3658 Klebeetiketten
%% conversion millimeter -> 2.845274 pt 
%% labelwidth  = (210-2*8)/3  = 64.66666 mm = 183.994366 pt
%% labelheigth = (297-2*13)/8 = 33.87500 mm =  96.383656 pt
\LabelCols=3
\LabelRows=8
%% move 15mm to the right
\LeftBorder=15mm
\RightBorder=-15mm
\TopBorder=13 mm
\BottomBorder=13mm
\LabelInfotrue

%\usepackage{inputenc}

\begin{document}

\begin{labels}
<% labels.each do |o| %>
<%= o.firstname %> <%= o.lastname %>
<%= o.street %> \smallskip
\textbf{<%= o.zip %> <%= o.city %>}
<% end %>
\end{labels}

\end{document}
